<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Orders</title>
</head>
<body>
    <h1>Orders</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Item_ID</th>
                <th>Quantity</th>
                <th>Customer_name</th>
                <th>Shipping Address</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.item_id }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.customer_name }}</td>
                <td>{{ order.shipping_address }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
